body
{margin: 0  400px 0 280px;
font-family: initial, sans-serif;
font-size: 18px;
color: #444;
font-size: 18px;
margin-bottom: 2em;
margin-top: 0.5em;
padding-top: 10px;
width:680px;	
padding-left: 
}
p
{
display: block;
text-align: justify;
}
#citation
{
text-decoration: overline;}